

@media (min-width: 1281px) {

  /* Padding removing from whole website*/

  * {
    margin: 0;
    padding: 0;

  }

  /* Body CSS*/
  body {
    background-color: #eee;
  }

  /* Nav Css*/

  nav {
    background-color: #fff;
    width: 100%;
    height: 100px;
  }


  /* Ul css*/

  ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;

  }

  /* Wrapper for div css*/

  .wrapper {
    margin: 0 auto 0 60px;
    width: 1000px;

  }

  .off_deal_text {
    color: #820000;
    font-size: 25px;
    font-family: 'Source Serif Pro', serif;
  }

  /* responsible for the text inside the a link text */
  ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: arial;
    color: #1e1e1e;
    padding: 0 20px;

  }

  ul li a:hover {
    color: pink;
  }


  body {
    margin  : 0px;
    background-color: #CE7777;
  }

  /*images */
  .basket-image {
    width: 3%;
    height: 7%;
    position: absolute;
    right: 2%;
    top: 3.5%;
  }

  /* Body ground image*/

  .Background_image {
    width: 1100px;
    height: auto;
    margin: 0 210px 0 210px;
    margin-top: -46px;
  }


  /* Text centerd images Css*/

  .centered-text-image {
    border: 0;
    padding: 0;
    margin: 0;

  }

  /* Body Image 2 of div*/

  .centered-text-image-1 {

  }

  /* Text font, famaly */

  .centered {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(-50%, -50%);
    font-family:'Caramel', cursive;
    font-size: 40px;

  }

  /* Container dic css*/

  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Shop text font and margin*/

  .shop-text {
    text-align: center;
    padding: 20px;
    background-color: #FFCAC8;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    margin: 0 210px 0 210px;
  }


.announcement-delivery {
  text-align: center;
  padding: 20px;
  background-color: white;
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  margin: 0 210px 0 210px;
}
  /* Div quote */

  .flower-quote {
    text-align: center;
    padding: 30px;
    background-color: #FFCAC8;
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
  }

  /* Wrapper - div*/

  .wrapper-body {
    margin: 0 auto 0 auto;
    width: 1100px;
    background-color: #eee;

  }

  /* Grid iteam set up for shop*/

  .item1 { grid-area: flower1; }
  .item2 { grid-area: flower2; }
  .item3 { grid-area: flower3; }
  .item4 { grid-area: flower4; }
  .item5 { grid-area: flower5; }
  .flower6 { grid-area: flower6; }

  /* Grid container*/

  .grid-container {
    display: grid;
    grid-template-areas:
      'flower1 flower2  '
      'flower3 flower4  '
      'flower5 flower6  '
    background-color: #eee;
  }

  /*  Graid container family of div  */

  .grid-container > div {
    background-color: #FFCAC8;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  /* Flower images for shop*/

  .Flower_Images {
    height: 150px;
    width: 200px;
  }




  /*  CSS code for news.html*/
  .container-flowers-bowl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 210px 0 210px;
    background-color: #fff;


  }

  .flower-bowl-images {
    max-width: 100%
  }

  /* new.html image css*/

  .image {
    flex-basis: 100%;
    margin: 20px;
  }
  /* new.html text css*/
  .text {
    font-size: 20px;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Source Serif Pro', serif;
  }


  /* About us css*/
  .flower-bowl-images {
    width: 1100px;
    height: 700px;
    margin: 0 210px 0 0px;
    text-align: center;

  }

  /* about_us.html image css*/
  .about-us-text {
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    margin: 0 210px 0 210px;
    background-color: #fff;
    padding: 20px 60px 20px 60px;

  }

  /* div shopping text*/
  .thank-you-for-shopping-with-us-text {
    padding: 60px
  }


  /* image for div*/
  .flower-bowl-images-about-us {
    width: 1100px;
    height: 700px;
    margin: 0 210px 0 210px;
    text-align: center;
  }

  /*index html */

  .flower-quote-index {
    text-align: center;
    padding: 60px;
    background-color: #FFCAC8;
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
  }



}


@media (min-width: 768px) and (max-width: 1024px) {


    * {
      margin: 0;
      padding: 0;

    }

    /* Body CSS*/
    body {
      background-color: #eee;
    }

    /* Nav Css*/

    nav {
      background-color: #fff;
      width: 100%;
      height: 100px;
    }


    /* Ul css*/

    ul li {
      list-style: none;
      display: inline-block;
      float: left;
      line-height: 100px;

    }

    /* Wrapper for div css*/

    .wrapper {
      margin: 0 auto 0 60px;
      width: 1000px;

    }

    .off_deal_text {
      color: #820000;
      font-size: 25px;
      font-family: 'Source Serif Pro', serif;
    }

    /* responsible for the text inside the a link text */
    ul li a {
      display: block;
      text-decoration: none;
      font-size: 14px;
      font-family: arial;
      color: #1e1e1e;
      padding: 0 20px;

    }

    ul li a:hover {
      color: pink;
    }


    body {
      margin  : 0px;
      background-color: #CE7777;
    }

    /*images */
    .basket-image {
      width: 4%;
      height: 5%;
      position: absolute;
      right: 2%;
      top: 2.5%;
    }

    /* Body ground image*/

    .Background_image {

      height: auto;
      width: 100%;
      margin-top: -46px;
    }


    /* Text centerd images Css*/

    .centered-text-image {
      border: 0;
      padding: 0;
      margin: 0;

    }

    /* Body Image 2 of div*/

    .centered-text-image-1 {

    }

    /* Text font, famaly */

    .centered {
      position: absolute;
      top: 15%;
      right: 20%;
      transform: translate(-50%, -50%);
      font-family:'Caramel', cursive;
      font-size: 20px;

    }

    /* Container dic css*/

    .container {
      position: relative;
      text-align: center;
      color: white;
    }

    /* Shop text font and margin*/

    .shop-text {
      text-align: center;
      padding: 20px;
      background-color: #FFCAC8;
      font-family: 'Source Serif Pro', serif;
      font-size: 30px;
      margin: 0 0 0 0;

    }


    .announcement-delivery {
      text-align: center;
      padding: 20px;
      background-color: white;
      font-family: 'Source Serif Pro', serif;
      font-size: 20px;

    }
    /* Div quote */

    .flower-quote {
      text-align: center;
      padding: 30px;
      background-color: #FFCAC8;
      font-family: 'Source Serif Pro', serif;
      font-size: 25px;
    }

    /* Wrapper - div*/

    .wrapper-body {
      margin: 0 auto 0 auto;
      width: 100%;
      background-color: #eee;

    }

    /* Grid iteam set up for shop*/

    .item1 { grid-area: flower1; }
    .item2 { grid-area: flower2; }
    .item3 { grid-area: flower3; }
    .item4 { grid-area: flower4; }
    .item5 { grid-area: flower5; }
    .flower6 { grid-area: flower6; }

    /* Grid container*/

    .grid-container {
      display: grid;
      grid-template-areas:
        'flower1 flower2  '
        'flower3 flower4  '
        'flower5 flower6  '
      background-color: #eee;
    }

    /*  Graid container family of div  */

    .grid-container > div {
      background-color: #FFCAC8;
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    }

    /* Flower images for shop*/

    .Flower_Images {
      height: 150px;
      width: 200px;
    }




    /*  CSS code for news.html*/
    .container-flowers-bowl {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 0;
      background-color: #fff;


    }

    .flower-bowl-images {
      max-width: 100%
    }

    /* new.html image css*/

    .image {
      flex-basis: 100%;
      margin: 20px;
    }
    /* new.html text css*/
    .text {
      font-size: 20px;
      padding-left: 20px;
      font-size: 18px;
      font-family: 'Source Serif Pro', serif;
    }


    /* About us css*/
    .flower-bowl-images {
      width: 1100px;
      height: 700px;
      margin: 0 0 0 0;
      text-align: center;

    }

    /* about_us.html image css*/
    .about-us-text {
      text-align: center;
      font-family: 'Source Serif Pro', serif;
      margin: 0 0 0 0;
      background-color: #fff;
      padding: 20px 60px 20px 60px;

    }

    /* div shopping text*/
    .thank-you-for-shopping-with-us-text {
      padding: 60px
    }


    /* image for div*/
    .flower-bowl-images-about-us {
      width: 100%;
      height: 500px;
      margin: 0 0 0 0;
      text-align: center;
    }

    /*index html */

    .flower-quote-index {
      text-align: center;
      padding: 60px;
      background-color: #FFCAC8;
      font-family: 'Source Serif Pro', serif;
      font-size: 25px;
    }



}







@media (min-width: 380px) and (max-width: 500px){


    * {
      margin: 0;
      padding: 0;

    }

    /* Body CSS*/
    body {
      background-color: #eee;
    }

    /* Nav Css*/

    nav {
      background-color: #fff;
      width: 100%;
      height: 100px;
    }


    .signup-form {
      font-size: 300%;


    }

    .enter-details {
      font-size: 200%;
    }

    .form-input {
      font-size: 54pt;
      margin: 20px;

    }
    .date-input {

      font-size: 34pt;
      margin-top: 50px;
    }


    /* Ul css*/

    ul li {
      list-style: none;
      display: inline-block;
      float: left;
      line-height: 100px;

    }

    /* Wrapper for div css*/

    .wrapper {
      margin: 0 auto 0 60px;
      width: 1000px;

    }

    .off_deal_text {
      color: #820000;
      font-size: 50px;
      font-family: 'Source Serif Pro', serif;
    }

    /* responsible for the text inside the a link text */
    ul li a {
      display: block;
      text-decoration: none;
      font-size: 26px;
      font-family: arial;
      color: #1e1e1e;
      padding: 0 20px;

    }

    ul li a:hover {
      color: pink;
    }


    body {
      margin  : 0px;
      background-color: #CE7777;
    }

    /*images */
    .basket-image {
      width: 3%;
      height: 3%;
      position: absolute;
      right: 2%;
      top: 1%;
    }

    /* Body ground image*/

    .Background_image {

      height: auto;
      width: 100%;
      margin-top: -46px;
    }


    /* Text centerd images Css*/

    .centered-text-image {
      border: 0;
      padding: 0;
      margin: 0;

    }


    /* Body Image 2 of div*/



    /* Text font, famaly */

    .centered {
      position: absolute;
      top: 15%;
      left: 60%;

      font-family:'Caramel', cursive;
      font-size: 65px;

    }

    /* Container dic css*/

    .container {
      position: relative;
      text-align: center;
      color: white;
    }

    /* Shop text font and margin*/

    .shop-text {
      text-align: center;
      padding: 20px;
      background-color: #FFCAC8;
      font-family: 'Source Serif Pro', serif;
      font-size: 60px;
      margin: 0 0 0 0;

    }

    .announcement-delivery {
      text-align: center;
      padding: 20px;
      background-color: white;
      font-family: 'Source Serif Pro', serif;
      font-size: 40px;

    }

    /* Div quote */

    .flower-quote {
      text-align: center;
      padding: 30px;
      background-color: #FFCAC8;
      font-family: 'Source Serif Pro', serif;
      font-size: 40px;
    }

    /* Wrapper - div*/

    .wrapper-body {
      margin: 0 auto 0 auto;
      width: 100%;
      background-color: #eee;

    }

    /* Grid iteam set up for shop*/

    .item1 { grid-area: flower1; }
    .item2 { grid-area: flower2; }
    .item3 { grid-area: flower3; }
    .item4 { grid-area: flower4; }
    .item5 { grid-area: flower5; }
    .flower6 { grid-area: flower6; }

    /* Grid container*/

    .grid-container {
      display: grid;
      grid-template-areas:
        'flower1 flower2  '
        'flower3 flower4  '
        'flower5 flower6  '
      background-color: #eee;
    }

    /*  Graid container family of div  */

    .grid-container > div {
      background-color: #FFCAC8;
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    }

    /* Flower images for shop*/

    .Flower_Images {
      height: 150px;
      width: 200px;
    }




    /*  CSS code for news.html*/
    .container-flowers-bowl {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 0;
      background-color: #fff;
      font-size: 20px;



    }

    .flower-bowl-images {
      max-width: 100%
    }

    /* new.html image css*/

    .image {
      flex-basis: 100%;
      margin: 20px;
    }
    /* new.html text css*/
    .text {
      font-size: 20px;
      padding-left: 20px;
      font-size: 30px;
      font-family: 'Source Serif Pro', serif;
    }


    /* About us css*/
    .flower-bowl-images {
      width: 1100px;
      height: 700px;
      margin: 0 0 0 0;
      text-align: center;


    }

    /* about_us.html image css*/
    .about-us-text {
      text-align: center;
      font-family: 'Source Serif Pro', serif;
      margin: 0 0 0 0;
      background-color: #fff;
      font-size: 30px;
    }



    /* div shopping text*/
    .thank-you-for-shopping-with-us-text {
      padding: 60px
    }


    /* image for div*/
    .flower-bowl-images-about-us {
      width: 100%;
      height: 500px;
      margin: 0 0 0 0;
      text-align: center;
    }

    /*index html */

    .flower-quote-index {
      text-align: center;
      padding: 60px;
      background-color: #FFCAC8;
      font-family: 'Source Serif Pro', serif;
      font-size: 25px;
    }
